{% extends 'layouts/admin.twig' %}

{% block content %}
<h1>{% block contentTitle %}Редактирование {{ this.modelHumanTitle[1] }}{% endblock %}</h1>
<p>Поля с символом <span class="required">*</span> обязательны для заполнения.</p>

{% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
	'type' : 'horizontal',
	'enableClientValidation': true,
	'clientOptions': {'validateOnSubmit': true},
	'htmlOptions' : {'enctype' : 'multipart/form-data'},
}) %}

{% import 'crud/form.twig' as formHelper %}
{{ formHelper.editForm(model, form, editFormElements) }}

<div class="form-actions">
	{{ widget('bootstrap.widgets.TbButton', {
		'type' : 'primary',
		'buttonType' : 'submit',
		'icon' : 'ok white',
		'label' : model.isNewRecord ? 'Создать '~this.modelHumanTitle[0] : 'Сохранить '~this.modelHumanTitle[0],
	}) }}

	{{ widget('bootstrap.widgets.TbButton', {
		'icon' : 'remove',
		'label' : model.isNewRecord ? 'Не создавать' : 'Отменить изменения',
		'url' : ['/'~this.uniqueId]
	}) }}
</div>

{{ void(this.endWidget()) }}

{% endblock %}