{% extends adminLayout %}

{% block content %}
<h1>
    {% if model.isNewRecord %}
        {{ this.actionsTitles[0] ~' '~ this.modelHumanTitle[1] }}
    {% else %}
        {{ this.actionsTitles[1] ~' '~ this.modelHumanTitle[1] }}
    {% endif %}
</h1>
<p>Поля с символом <span class="required">*</span> обязательны для заполнения.</p>

{% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
	'type' : 'horizontal',
	'enableClientValidation': true,
	'clientOptions': {'validateOnSubmit': true},
	'htmlOptions' : {'enctype' : 'multipart/form-data'},
}) %}

{% import 'crud/form.twig' as formHelper %}
{% set formHtml = formHelper.editForm(model, form, editFormElements) %}

{{ form.errorSummary(model, null, null, {id: form.id~'_es_2'})|raw }}
{{ formHtml|raw }}
{{ form.errorSummary(model)|raw }}

<div class="form-actions">
	{{ widget('bootstrap.widgets.TbButton', {
		'type' : 'primary',
		'buttonType' : 'submit',
		'icon' : 'ok white',
		'label' : model.isNewRecord ? this.buttonTitles[1]~' '~this.modelHumanTitle[0] : this.buttonTitles[2]~' '~this.modelHumanTitle[0],
	}) }}

	{{ widget('bootstrap.widgets.TbButton', {
		'icon' : 'remove',
		'label' : model.isNewRecord ? this.buttonTitles[3] : this.buttonTitles[4],
		'url' : ['/'~this.uniqueId]
	}) }}
</div>

{{ void(this.endWidget()) }}

{% endblock %}