{% extends 'layouts/admin.twig' %}

{% block content %}
<h1>{% block contentTitle %}Просмотр {{ this.modelHumanTitle[1] }}{% endblock %}</h1>

{% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
	'type' : 'horizontal',
}) %}

{% for attributeName, element in editFormElements %}
	{% if element['class'] %}
		{{ widget(element['class'], element['options']|default({})|merge({'model':model, 'attribute':element['name'], 'form':form}) ) }}
	{% elseif element['type'] %}
		{% if element['data'] %}
			{{ attribute(form, element['type']~'Row', [ model, attributeName, element['data'], element['htmlOptions'] ? element['htmlOptions'] : [] ])|raw }}
		{% else %}
			{{ attribute(form, element['type']~'Row', [ model, attributeName, element['htmlOptions'] ? element['htmlOptions'] : [] ])|raw }}
		{% endif %}
	{% else %}
		{{ element|raw }}
	{% endif %}
{% endfor %}

<div class="form-actions">
	{{ widget('bootstrap.widgets.TbButton', {
		'icon' : 'icon-arrow-left',
		'label' : 'Вернуться назад',
		'url' : ['/'~this.uniqueId]
	}) }}
</div>

{{ void(this.endWidget()) }}

{% endblock %}